.margin_bottom{
  margin-bottom: 10px;
}

.bs-callout {
  padding: 10px;
  margin: 0;
  border: 1px solid #eee;
  border-left-width: 1px;
  border-left-color: rgb(238, 238, 238);
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout-info {
  border-left-color: #1b809e;
}

.txt-right{
  text-align: right;
}

//pl
#pl th{
  text-align: right;
}

.dev-back-ground{
  background-color: #fffaf0;
}

a.list-group-item-sm {
  padding: 5px;
}

.no-warp{
  white-space: nowrap;
}
